extends layout

block content
  if optimize
    p Optimized mode.  You are getting a single RequireJS optimized JavaScript file which includes all the page dependencies.

  #leftColumn
    #commandWrap
      .areaBorder
        #commandArea

    #compilationIndicator &middot;
    #messages
      pre
        // set by script

    .areaBorder
      #sourceArea
        // TODO: autofocus
  #centerBar
  #rightColumn
    #output
