extends layout

block content
  //- #editor

  #leftColumn
    #commandWrap
      .areaBorder
        #commandArea

    #compilationIndicator &middot;
    #messages
      pre
        // set by script

    .areaBorder
      #sourceArea
        // TODO: autofocus
  #centerBar
  #rightColumn
    #output
