doctype html
html
  head
    title Golem
    link(rel='stylesheet', href='css/style.css' + cachebust)
    link(rel='icon', type='image/png', href='img/favicon.png')


    script(type='text/javascript').
      if (!window.console) console = {log: function() {}};

    script(src='js/native.js')

    script(type='text/javascript').
      // Prevent clash with requirejs
      window.requireNode = window.require;
      window.require = undefined;

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/js/reload-client.js')

    if optimize
      script(src='js/bootstrap-built.js')
    else
      script(src='js/vendor/require.js', data-main='js/bootstrap.js')

  body.golem
    block content

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67016387-1', 'auto');
      ga('send', 'pageview');
