doctype html
html
  head
    title Golem
    link(rel='stylesheet', href='css/style.css' + cachebust)
    rel(rel='icon', type='image/png', href='img/favicon.png')


    script(type='text/javascript').
      if (!window.console) console = {log: function() {}};

    script(src='js/native.js')

    script(type='text/javascript').
      // Prevent clash with requirejs
      window.requireNode = window.require;
      window.require = undefined;

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/js/reload-client.js')

    if optimize
      script(src='js/bootstrap-built.js')
    else
      script(src='js/vendor/require.js', data-main='js/bootstrap.js')

  body.golem
    block content