global-reset()

backgroundColor = #151515

body
  background-color backgroundColor
  padding 0px
  margin 0px
  font-family Monaco, Consolas, "Lucida Console", monospace

a, a:link, a:visited
  color: #98DBFF

textarea
  font-family Monaco, Consolas, "Lucida Console", monospace

#leftColumn
  width 400px
  float left
  margin 15px 5px 5px 15px

#centerBar, .movableDivider
  float left
  width 20px
  height 40px
  cursor col-resize

#rightColumn
  float left
  padding 15px 20px 10px 0px
  overflow auto

.areaBorder
  background-color #222
  border-style none
  // border-radius 5px
  // box-shadow 0 0 10px -4px #FF0000
  box-shadow 0px 1.5px 4px rgba(0, 0, 0, 0.24), 0px 1.5px 6px rgba(0, 0, 0, 0.12)
  cursor text
  float left
  padding 10px
  width calc(100% - 20px)
  margin 0

infoBar()
  display inline-block
  padding-top 7px
  padding-bottom 7px

#messages
  infoBar()
  padding-left 10px
  padding-right 10px
  max-width 615px
  z-index 30

  pre
    font-size 13px

  &.errorMessage
      color #CC3E1E

  &.fileMessage
      color #3E6EcC

.messageDisplay
  font-size 14px

  code
    font-size 13px
    font-family Monaco, Consolas, "Lucida Console", monospace

#compilationIndicator
  infoBar()
  margin-left 25px
  color backgroundColor
  display inline-block

#output, .output
  .log
    background-color #222
    // border-radius 5px
    // box-shadow 0 0 10px -4px #000000
    box-shadow 0px 1.5px 4px rgba(0, 0, 0, 0.24), 0px 1.5px 6px rgba(0, 0, 0, 0.12)
    padding 14px 20px
    margin 5px
    color #fff
    font-size 13px
    line-height 18px
    float left
    white-space pre-wrap
    word-wrap break-word

  .log.selected
    border 2px solid rgba(0, 170, 255, 0.75)
    margin 3px

    .ace_hidden-cursors .ace_cursor
      opacity: 0

    .ace_marker-layer
      opacity: 0



.golem
  /* popup for autocompletion */
  .ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
    background-color: #333;
    z-index: 1;
  }
  .ace_editor.ace_autocomplete .ace_line-hover {
    border-style: none;
    margin-top: -1px;
    background: rgba(72,72,72,0.4);
  }
  .ace_editor.ace_autocomplete .ace_line-hover {
    position: absolute;
    z-index: 2;
  }
  .ace_editor.ace_autocomplete .ace_scroller {
     background: none;
     border: none;
     box-shadow: none;
  }
  .ace_rightAlignedText {
    color: gray;
    display: inline-block;
    position: absolute;
    right: 4px;
    text-align: right;
    z-index: -1;
  }
  .ace_editor.ace_autocomplete .ace_completion-highlight{
    color: #ccc;
    text-shadow: 0 0 0.01em;
  }
  .ace_editor.ace_autocomplete {
    width: 280px;
    z-index: 200000;
    background: #222;
    color: #666;
    border-style: none;
    position: fixed;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    line-height: 1.4;
    margin: 2px;
  }


  /* tooltips */
  .ace_tooltip {
    color: #ccc
    background: #222
    border-style: none
    box-shadow: 0px 0px 10px rgba(0,0,0,.8)
    font-size 13px
  }


  /* Seach box style */

  .ace_search {
    background-color: rgba(34, 34, 34, 0.9);
    color: white;
    width: 100%;
    border-style: none;
    padding: 0;
    bottom: 0px;
    top: auto;
    max-width: none;
  }
  .ace_search.left {
    border-left: 0 none;
    border-radius: 0px 10px 0px 0px;
    left: 40px;
  }
  .ace_search.right {
    border-radius: 10px 0px 0px 0px;
    border-right: 0 none;
    right: 0;
  }
  .ace_search_forms {
      float:left;
  }
  .ace_search_form, .ace_replace_form {
    padding: 2px;
    margin-top: 1px;
    overflow: hidden;
    border-style: none;
    float: none;
  }
  input.ace_search_form.ace_nomatch {
    color: red;
    outline-style: none;
  }
  .ace_search_field {
    background-color: rgba(16, 16, 16, 0.6);
    border-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 22px;
    outline: 0;
    padding: 0 7px;
    width: 214px;
    margin: 0;
  }
  input.ace_search_field {
      color: #fff;
      font-size: 13px;
  }
  .ace_searchbtn,
  .ace_replacebtn {
    background: rgba(16, 16, 16, 0.6);
    border-style: none;
    cursor: pointer;
    float: left;
    height: 22px;
    margin: 0 0 0 1px;
    padding: 0;
    position: relative;
  }
  .ace_searchbtn:last-child,
  .ace_replacebtn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .ace_searchbtn:disabled {
    background: none;
    cursor: default;
  }
  button.ace_searchbtn,
  button.ace_replacebtn {
    color: #777;
    font-size: 13px;
  }
  .ace_searchbtn {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 27px;
  }
  .ace_replacebtn {
    min-width: 27px;
  }

  .ace_searchbtn_close {
    float: left;
  }
  .ace_searchbtn_close:hover {
    background-position: 50% 100%;
    background-color: transparent;
    color: white;
  }
  .ace_replacebtn.prev {
    width: 54px
  }
  .ace_replacebtn.next {
    width: 27px
  }
  .ace_button {
    margin-left: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    border-style: none;
    border-radius: 2px;
    padding: 3px;
    -moz-box-sizing: border-box;
    box-sizing:    border-box;
    background-color: rgba(16, 16, 16, 0.2);
    color: #555;
    opacity: 1;
  }
  .ace_button:hover {
    background-color: rgba(16, 16, 16, 0.6);
  }
  .ace_button:active {
    background-color: #ddd;
  }
  .ace_button.checked {
      background-color: rgba(16, 16, 16, 0.6);
      color: #ccc;
  }
  .ace_search_options{
      float: left;
      padding: 5px;
      text-align: right;
      -webkit-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #fff;
  }


  /* Typer Error highlighting */

  .ace_marker-layer .golem_error-origin
    position: absolute
    pointer-events: auto
    border-radius: 2px
    box-shadow: -1px 0px 0px 0px rgb(136, 0, 0), 1px 0px 0px 0px rgb(136, 0, 0), 0px -1px 0px 1px rgb(136, 0, 0)

  .ace_marker-layer .golem_error-origin.golem_error-origin-open
    box-shadow: -1px 0px 0px 0px rgb(136, 0, 0), 1px 0px 0px 0px #222, 0px -1px 0px 1px rgb(136, 0, 0)


/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-tag,
.css .hljs-rule,
.css .hljs-value,
.aspectj .hljs-function,
.css .hljs-function
.hljs-preprocessor,
.hljs-pragma {
  color: red;
}

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-built_in,
.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: #9C49B6;
}

.hljs-tag .hljs-value,
.hljs-code,
.hljs-title,
.hljs-class .hljs-title:last-child {
  color: #9EE062;
}

.hljs-link_url {
  font-size: 80%;
}

.hljs-strong,
.hljs-strongemphasis {
  font-weight: bold;
}

.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child,
.hljs-typename {
  font-style: italic;
}

.hljs-keyword,
// .hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.hljs-header,
.hljs-attribute,
// .hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child
  color: red;


.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-aspect .hljs-keyword:first-child,
.hljs-constant,
.hljs-typename,
.hljs-name,
.css .hljs-attribute {
  color: #67B3DD;
}

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title,
.hljs-aspect .hljs-title {
  color: #FDA947;
}

.hljs-number,
.hljs-string,
.hljs-subst,
.hljs-type,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url {
  color: #FEDF6B;
}

.hljs-comment,
.hljs-annotation,
.hljs-decorator,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: gray;
}

.javascript .xml
  opacity: 0.5;


